<div id="<%= dom_id project %>">
  <div class="bg-[--milk-foam] p-6 rounded-lg shadow">
    <h1 class="text-2xl font-bold text-[--long-black] mb-2" style="text-align: center;"><%= @project.name %></h1>
  </div>
</div>
